<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Crud proyect </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-dark bg-success mb-4">
        <a href="/paginaprincipal" class = "navbar-brand">Medicamentos Naturales</a>
        <a href="/contenido" class = "navbar-brand"> volver </a>

    </nav>

    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
          <h1 class="display-4">Añade y edita a tu gusto</h1><br><br>
          
  

    <div class="container">
        <div class="row">

        <div class="col-md-5">
         <div class="card">
             <div class="card-body">
                 <form action="/addr" method="POST">
                     <div class="form-group">
                         <input type="text" name="medicamento" placeholder="inserte nombre de medicamento" class="form-control">
                     </div>
                     <div class="form-group">
                        <input type="text" name="clasificacion" placeholder="clasificacion del medicamento" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="via" placeholder="via de administracion" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="vida" placeholder="via de administracion secundaria" class="form-control">
                    </div>
                    
                    
                     <div class="form-group">
                    </div>
                    <button type="submit" class="btn btn-success btn-block">añadir</button>
                    
                 </form>
             </div>
         </div>
        </div>
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
               <thead>
                 <tr>
                     <th>indice</th>
                     <th>medicamento natural</th>
                     <th>clasificacion segun uso</th>
                     <th>via administracion</th>
                     <th>via administracion secundaria</th>
                     <th>opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i = 0; i < tasks.length; i++) { %>
                     <tr>
                         <td><%=i + 1 %> </td>
                         <td><%= tasks[i]. medicamento %> </td>
                         <td><%= tasks[i]. clasificacion %> </td>
                         <td><%= tasks[i]. via %> </td>
                         <td><%= tasks[i]. vida %> </td>

                         <td>
                            <a href="/deleter/<%= tasks[i]._id%>" class="btn btn-success btn-block">eliminar</a>  
                            <a href="/editarr/<%= tasks[i]._id%> " class="btn btn-dark btn-block">editar</a>  
  
                          </td>
  
                      </tr>
                     <% } %> 
                 </tbody>
</html>